<!DOCTYPE html>
<html>
<body>

{{#username}}
Edit your song, {{.}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>

{{songName}} : {{songArtist}} - {{songAlbum}} - {{songGenre}} - {{songYear}}
<br>

<form action="/edit-song/{{songId}}" method="post">
    <input type="text" placeholder="Song name" value = {{songName}} name="songName" width="400"/>
    <input type="text" placeholder="Song artist" value = {{songArtist}} name="songArtist" width="200"/>
    <input type="text" placeholder="Song album" value = {{songAlbum}} name="songAlbum" width="200"/>
    <select name="songGenre">
        <option selected disabled>{{songGenre}}</option>
        <option value="Alternative">Alternative</option>
        <option value="Pop">Pop</option>
        <option value="Hip Hop">Hip Hop</option>
        <option value="Rap">Rap</option>
        <option value="Folk/Indie">Folk/Indie</option>
        <option value="Electronic">Electronic</option>
        <option value="Jazz">Jazz</option>
        <option value="Other">Other</option>
    </select>
    <input type="number" placeholder="Year" value = {{songYear}} name="songYear"/>
    <button type="submit">Submit</button>
</form>
{{/username}}

